[Unit]
Description=Daemon for Clipton (clipboard manager)

[Service]
Type=simple
ExecStart=/usr/bin/clipton watcher

[Install]
WantedBy=graphical.target